html {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;    
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


#root {
    min-height: 100vh;
}

.calculator-application {
    width: 30rem;
    border: solid;
    margin: 50% auto 0;
    position: relative;
    transform: translate3d(0, -60%, 0);
    background: $grey-color-8;
    border: $border-secondary;
    box-shadow: $shadow-primary;
    border-radius: .5rem;
    padding: .4rem;

    &.extend {
        width: 60rem;
    }
}