$primary-colors: (
  "A100": #a1436eff,
  "A300": #9f3e60ff,
  "A500": #79445dff,
  "A700": #4d3741ff,
  "A900": #2f2a2eff,
);

$gray-colors: (
  "A100": #000,
  "A200": #111,
  "A300": #333,
  "A400": #666,
  "A500": #999,
  "A600": #aaa,
  "A700": #ccc,
  "A800": #eee,
  "A900": #fff,
);