@use "sass:map";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sodoku {

  &-app {
    padding: 1rem 1.5rem;
  }

  &-board {
    width: 50rem;
    height: 50rem;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
  }

  &-cell {
    width: calc(100 / 9 * 1%);
    height: 0;
    padding: calc(50 / 9 * 1%) 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background .3s ease-out;

    &:nth-child(even) {
      background: map-get($gray-colors, "A800");
    }

    &:hover {
      background-color: map-get($primary-colors, "A100");
      color: map-get($gray-colors, "A900");
    }

  }
}